body {
    font-family: sans-serif;
    background-color: #0b1a28;
    color: #47CD91;
    background-repeat: repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #47CD91;
}

li.a {
    color: #8A3956;
}

a:hover {
    color: #ED5E93;
}

img {
    border: solid;
    border-radius: 100%;
    border-width: thin;
    border-color: black;
    box-shadow: 0;
    transition: box-shadow 1s ease-in-out;
}

img:hover {
    box-shadow: 2px 1px 20px #47CD91;
}




.main {
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: xx-large;
}
